body, #controlPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  max-width: 100vw;
  max-height: 80vh;
  margin-top: 20px;
}

#projections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#projections button {
  margin: 10px;
}

.background {
  fill: lightblue;
}

.land {
  fill: grey;
}
.borders {
  fill: none;
  stroke: white;
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}

.tooltip {
  pointer-events: none;
  position: absolute;
  background: rgba(8, 8, 8, 0.9);
  padding: 5px;
  border-radius: 10px;
  border: 2px solid white;
  opacity: 0;
}
.tooltip .Name {
  text-align: center;
}
.tooltip .Name .value {
  font-variant: small-caps;
  font-size: 200%;
  color: yellow;
}
.tooltip .Name .label {
  display: none;
}
.tooltip .label {
  color: lightgrey;
}
.tooltip .label:after {
  content: ":";
}
.tooltip .value {
  color: lightblue;
}

.meteor {
  fill: brown;
  stroke: black;
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}

.sphere {
  fill: blue;
}
