html
  head
    title Meteorite Strikes by Size and Location
    script(type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js")
    script(type="application/javascript" src="https://d3js.org/topojson.v1.js")
    script(type="application/javascript" src="https://d3js.org/d3.geo.projection.v0.min.js")
    script(type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.js")
    script(type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js")
    link(rel="stylesheet" href="index.css")
  body
    #controlPanel
      #projections
      label
        input(id="rotationLocked" type="checkbox")
        | Equator Lock
    script(type="application/javascript" src="index.js")
